body,html {
    background-color: rgb(40, 40, 40);
    color: white;
}

.weather-container {
    background-color: rgb(89, 133, 174);
    color: white;
    border-radius: 10px;
    border: solid 1px rgb(255, 255, 255) 0.514;
}
