body,html {
    background-color: rgb(40, 40, 40);
    color: white;
}


.weather-container {
    background-color: rgba(8, 146, 232, 0.514);
    color: white;
    border-radius: 10px;
    border: solid 1px rgb(37, 151, 222) 0.514;
}