body,html {
    background-color: rgb(40, 40, 40);
    color: white;
}

.weather-container {
    background-color: rgb(89, 133, 174);
    color: white;
    border-radius: 10px;
    border: solid 1px rgb(255, 255, 255) 0.514;
}


.search-container {
    padding: .25rem;
    width: 100%;
    margin-top: 1rem;
    border-radius: 5px;

}
.search-bar {
    border-radius: 5px 0 0 5px;
    color: black;
    margin-right: 0;
    margin-left:1rem;
    padding: .5rem;
}

.search-button {
    background-color: rgb(89, 133, 174);
    margin-left: 0;
    border-radius: 0 5px 5px 0;
    padding: 8px 16px;

}

.alert-container{
    background-color: rgb(217, 41, 41);
    border-radius: 5px;
    margin-bottom: 15px;
}

.station-map-icon {
    background-color: #4285F4;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 14px;
    padding: 10px 15px;
    position: relative;
  }
  
  .station-map-icon::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, 0);
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #4285F4;
  }

  .station-info {
    color: black;
  }

  .footer-text {
    color: grey;
    font-size: 12px;
    margin-top: 2rem;
  }

  .dynamic-padding {
    @media screen and (max-width: 640px) {
      padding: 2rem;
    }

    @media screen and (max-width: 1280px) {
      padding: 1rem;
    }

    @media screen and (min-width: 1280px) {
      padding: 2rem;
    }
  }